// Colors
$primary: #F7BF4F;
$black: #000000;
$white: #FFFFFF;
$gray: #7d7d7d;
$gray-2: #404040;

$font-color: #adaec1;
$font-color-2: #9c9c9c;
$font-color-dark: #121316;

$bg-color: #333333; 
$bg-color-2: #242424;
// Border
$border-radius-sm: 5px; 
$border-radius: 10px;

// Fonts
$font-family: 'Roboto', sans-serif;

$logo-height: 2.75em;
$logo-height-lg: 4.3em;