// Colors
$primary: #F7BF4F;
$black: #000000;
$white: #FFFFFF;
$gray: #7d7d7d;

$font-color: #adaec1;
$font-color-2: #9c9c9c;
$font-color-dark: #121316;

// Border
$border-radius: 10px;

// Fonts
$font-family: 'Roboto', sans-serif;