# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# data 
architecture/Data

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/sse-test/sse-client/node_modules
/sse-test/sse-client/package-lock.json
/sse-test/sse-server/node_modules
/sse-test/sse-server/package-lock.json
/messaging-test/node_modules
/messaging-test/package-lock.json

frontend/node_modules/
frontend/package-lock.json
frontend/bundles/dist/*

frontend/bundles/node_modules
frontend/bundles/package-lock.json 

/microservice01/authentication-front/node_modules
/microservice01/node_modules
/microservice02/node_modules
/microservice03/node_modules
/microservice04/node_modules

microservice02/package-lock.json
microservice03/package-lock.json
microservice04/package-lock.json

/microservice06/node_modules

/microservice05/config.ini
/microservice07/config.ini
/microservice08/config.ini

# /microservice01/.env

# CONFIG Files
/microservice-parser-total/config.ini
/microservice-parser-generation/config.ini
/microservice-parser-flows/config.ini