# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# data 
# architecture/Data

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/sse-test/sse-client/node_modules
/sse-test/sse-client/package-lock.json
/sse-test/sse-server/node_modules
/sse-test/sse-server/package-lock.json
/messaging-test/node_modules
/messaging-test/package-lock.json

frontend/node_modules/
frontend/package-lock.json
frontend/bundles/dist/*

frontend/bundles/node_modules
frontend/bundles/package-lock.json 

# Authentication Microservice
/microservice-authentication/node_modules
/microservice-authentication/package-lock.json
/microservice-authentication/.env

# Flows API Microservice
/microservice-api-flows/node_modules
/microservice-api-flows/package-lock.json
/microservice-api-flows/.env

# Flows Parser Microservice
/microservice-parser-flows/saas-2022-bc1a910f9c03.json
# /microservice-parser-flows/config.ini

# Flows Importer Microservice
/microservice-importer-flows/node_modules
/microservice-importer-flows/package-lock.json
/microservice-importer-flows/saas-2022-bc1a910f9c03.json
/microservice-importer-flows/.env

# Total API Microservice
/microservice-api-total/node_modules
/microservice-api-total/package-lock.json
/microservice-api-total/.env

# Total Parser Microservice
/microservice-parser-total/saas-2022-bc1a910f9c03.json
# /microservice-parser-total/config.ini

# Total Importer Microservice
/microservice-importer-total/node_modules
/microservice-importer-total/package-lock.json
/microservice-importer-total/saas-2022-bc1a910f9c03.json
/microservice-importer-total/.env

# Generation API Microservice
/microservice-api-generation/node_modules
/microservice-api-generation/package-lock.json
/microservice-api-generation/.env

# Generation Parser Microservice
/microservice-parser-generation/saas-2022-bc1a910f9c03.json
# /microservice-parser-generation/config.ini

# Generation Importer Microservice
/microservice-importer-generation/node_modules
/microservice-importer-generation/package-lock.json
/microservice-importer-generation/saas-2022-bc1a910f9c03.json
/microservice-importer-generation/.env


/microservice05/config.ini
/microservice07/config.ini
/microservice08/config.ini