{% extends "base.html" %}
{% block content %}

<div class="content-container">
    <div class="header-container">
      <div class="info-container"> 
        <h2>Physical Flows</h2>
        <span class="current-date"></span>
      </div>
      <form class="inputs-container">
        <select id="flows-countries-list-from" class="input-field country">
            <option value="">Select a Country</option>
        </select>
        <i id="flows-countries-swap" class="material-icons nav-icon" style="cursor: pointer;">sync_alt</i>
        <select id="flows-countries-list-to" class="input-field country">
            <option value="">Select a Country</option>
        </select>
        <div class="input-div">
          <span>From</span>
          <input id="flows-start-date" class="input-field" type="date">
        </div>
        <div class="input-div">
          <span>To</span>
          <input id="flows-end-date" class="input-field" type="date">
        </div>
        <div id="flows-submit-btn" class="btn-style">
          <span><i class="material-icons">send</i></span>
          <span class="left">Submit</span>
        </div>
      </form>
    </div>
    
    <div class="data-container">
      <div class="main-container">
        <figure class="highcharts-figure">
          <div id="main-chart-flows" class="chart-div main-chart"></div>
        </figure>
      </div>
      <div class="side-containers">
          <figure class="side-highcharts-figure">
            <div id="side-chart-flows" class="chart-div"></div>
          </figure>
      </div>
    </div>

    <div class="btn-style reload-data-btn">
      <span><i class="material-icons">refresh</i></span>
      <span class="left">Refresh</span>
    </div>
  
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="flows.js"></script>
{% endblock %}