<div class="navbar-brand">
  <img class="nav-logo" src="images/Energy Live-logos_transparent.png">
</div>

<div class="right-infobox"> 
  <p class="subscription-time"></p>
  <img class="notification-icon" src="images/icon-notification.png">
  <div class="dropdown-container">
    <label for="openDropdown" class="dropdown">
      <div id="user-photo"></div> 
      <!-- <i class="fas fa-angle-down"></i> -->
    </label>
    
    <input type="checkbox" id="openDropdown" hidden>
  
    <div class="dropdown-menu">
      <div class="user-box">
        <div id="user-photo-popup"></div>
        <div class="user-info">
          <span id="username-label-popup" class="username-label"></span>
          <span id="user-email"></span>
        </div>
      </div>
      <div class="extend-box">
        <button class="extend-btn">EXTEND PLAN</button>
        <p class="subscription-time"></p>
      </div>
      <hr>
      <button class="signout-btn logout-btn">Sign out</button>
    </div>
  </div>
</div>
