<img class="navbar-brand" src="images/Energy Live-logos_transparent.png">

<div class="right-infobox"> 
    <p class="subscription-time">26 Days Left</p>
    <!-- <img src="images/icon8-notification.gif"> -->
    <div class="dropdown-container">
        <label for="openDropdown" class="dropdown">
            <div id="user-photo"></div> 
          <!-- <i class="fas fa-angle-down"></i> -->
        </label>
        
        <input type="checkbox" id="openDropdown" hidden>
      
        <div class="dropdown-menu">
          <div>
            <div id="user-photo-popup"></div>
            <div class="user-info">
              <span class="username-label"></span>
            </div>
          </div>
          <div class="extend-box">
            <button class="extend-btn">EXTEND PLAN</button>
            <p class="subscription-time">26 Days Left</p>
          </div>
          <hr>
          <button class="signout-btn" id="logout-btn">Sign out</button>
        </div>
    </div>
</div>
