<nav>
    <ul class="nav-items">
        <li>
            <a href="/">Newsfeed</a>
        </li>
        <li>
            <a href="/la">Actual Total</a>
        </li>
        <li>
            <a href="/lalaaa1">Generation Per Type</a>
        </li>
        <li>
            <a href="/akfj">Physical Flows</a>
        </li>
    </ul>
    <!-- <hr>  -->
    <ul class="nav-options">
        <li>
            <img class="nav-icon" src="images/logout.png" alt="Log out icon"/>
            <a href ="#">Log out</a>
        </li>
    </ul>
</nav>