<nav>
    <ul class="nav-items">
        <li>
            <a href="/">Dashboard</a>
        </li>
        <li>
            <a href="/">Passes Per Station</a>
        </li>
        <li>
            <a href="/">Passes Analysis</a>
        </li>
        <li>
            <a href="/">Charges By Other</a>
        </li>
    </ul>
    <hr> 
    <ul class="nav-options">
        <li> 
            <img class="nav-icon" src="" alt="Settings icon"/>
            <a href="#"> Settings</a>
        </li>
        <li>
            <img class="nav-icon" src="" alt="Log out icon"/>
            <a href ="#">Log out</a>
        </li>
    </ul>
</nav>