{% extends "base.html" %}
{% block content %}

<div class="content-container">
  <div class="header-container">
    <form class="inputs-container">
      <select id="total-countries-list">
        <option value="">Select a Country</option>
      </select>
      <div class="input-div">
        <span>From</span>
        <input id="total-start-date" class="input-field" type="date">
      </div>
      <div class="input-div">
        <span>To</span>
        <input id="total-end-date" class="input-field" type="date">
      </div>
      <button id="total-submit-btn" class="btnI" type="button">Submit</button>
    </form>
  </div>
  
  <div class="data-container">
    <figure class="highcharts-figure">
      <div id="container"></div>
    </figure>
  </div>

</div>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src="total.js"></script>
{% endblock %}