{% extends "base.html" %}
{% block content %}

<div class="content-container">
  <div class="header-container">
    <div class="info-container"> 
      <h2>Actual Total Load</h2>
      <span class="current-date"></span>
    </div>
    <form class="inputs-container">
      <select id="total-countries-list" class="input-field country">
        <option value="">Country</option>
      </select>
      <div class="input-div">
        <span>From</span>
        <input id="total-start-date" class="input-field" type="date">
      </div>
      <div class="input-div">
        <span>To</span>
        <input id="total-end-date" class="input-field" type="date">
      </div>
      <div id="total-submit-btn" class="btn-style">
        <span><i class="material-icons">send</i></span>
        <span class="left">Submit</span>
      </div>
    </form>
  </div>
  
  <div class="data-container">
    <figure class="highcharts-figure">
      <div id="container" class="chart-div"></div>
    </figure>
  </div>

</div>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src="total.js"></script>
{% endblock %}