<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- GOOGLE SIGN IN -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- STATIC ASSETS -->
    <script src="js/auth/login.js"></script>
    <script src="js/auth/cookies.js"></script>
    <link rel="stylesheet" href="main.css">
    <title>Login | Energy Live</title>
</head>
<body>
    <img id="login-logo" src="/images/Energy Live-logos_transparent.png">
    <div class="login-page">
        <!-- GOOGLE SIGN IN -->
        <div id="g_id_onload" data-auto_prompt="false"
            data-client_id="672536076610-rogv5neidkecehc646ag644c6j8e59o7.apps.googleusercontent.com"
            data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin" 
            data-type="standard"
            data-text="continue_with"
            data-theme="filled_black"
            data-width="360">
        </div>
        
        <div id="login-separation">or</div>

        <div class="form">
            <form onsubmit="return false" class="login-form">
                <input id="login-user-input" type="text" placeholder="username / email"/>
                <input id="login-password-input" type="password" placeholder="password"/>
                <button id="login-submit-btn">login</button>
                <p class="message">Not registered? <a href="/register">Create an account</a></p>
            </form>
        </div>
    </div>

</body>
</html>